* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    background-color: #f0f0f0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
}
