* {
    box-sizing: border-box;
    color: inherit;
}

html,
body {
    height: 100%;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    align-items: center;
    color: #333;
    display: flex;
    justify-content: center;
    margin: 0;
}

button {
    cursor: pointer;
    font-size: inherit;
}

img {
    max-height: 100%;
    max-width: 100%;
}
