@keyframes pokemon-dialog {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal {
    align-items: center;
    backdrop-filter: blur(4px);
    background-color: transparent;
    border: 0;
    display: none;
    height: 100%;
    justify-content: center;
    width: 100%;

    &[open] {
        animation: pokemon-dialog .6s forwards;
        display: flex;
    }

    &-content {
        background-color: #fff;
        border: 1px solid #333;
        border-radius: 4px;
        padding: 1em;

    }
}
