* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    background-color: #f0f0f0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
}

.app {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.starter-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: transform .4s ease-in-out;

    &:hover {
        transform: scale(1.2);
    }
}
